@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&display=swap');
*{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  background-color: #0b0b11;
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
}
::selection{
  background: #ffffff;
  color: #000;
}
button{
  cursor: pointer;
}
a{
  text-decoration: none;
}
.line{
  height: 40vh;
  width: 1px;
  background-color: #1b1b29;
  margin-left: 20px;
  margin-top: 30px;
  border: none;
}
.welcome{
  font-size: 80px;
  font-weight: bolder;
  margin-bottom: 40px;
  margin-top: 25vh;
  color: rgb(242, 247, 183);
  font-family: 'Bodoni Moda', serif;
}
.flex-center{
  display: flex;
  justify-content: center;
  z-index: -1;
}
.desc{
  font-size: 20px;
  width: 420px;
  margin-top: 0px;
  color: rgb(146, 146, 146);
}
.desc-2{
  font-size: 20px;
  width: 420px;
  margin-top: 35px;
  color: rgb(146, 146, 146);
}
.view{
  font-size: 20px;
  margin-top: 35px;
  color: #ffffff;
  display: flex;
  align-items: center;
  
}
.view span{
padding-top: 8px;
margin-left: 12px;
animation: 1.5s bounce-2 infinite ease-in-out;
}

.so-btn{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 28px;
  display: block;
  margin-top: 15px;
}
.socail{
  position: absolute;
  right: 50px;
  top: 65%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: transparent;
}
.header{
  background-color: #0b0b11;
  margin-right: 100px;
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 20px;
}
.header a{
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  margin-left: 50px;
  cursor: pointer;
  float: right;
  margin-top: 20px;
}
#last{
  margin-right: 100px;
}
.flex-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.flex{
  margin-top: 65vh;
  margin-left: 165px;
  margin-bottom: 40px;
}
.projects{
  font-size: 60px;
  font-weight: bolder;
  margin-bottom: 0px;
}
.lang-icon{
  margin-right: 10px;
  margin-top: 0px;
  font-size: 30px;
  color: rgb(146, 146, 146);
  margin-bottom: 0px;
}
.burger{
  border: none;
  background-color: transparent;
  color: #fff;
  margin-right: 0px;
  display: none;
  position: relative;
  z-index: 10;
}
.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: -3px;
  left:  -3px;
  right: -3px;
  bottom: -3px;
  position: fixed;
  z-index: 0;
}

.overlay {
  background: #0a0a0fd3;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  display: none;
}
.modal-content {
  background: transparent;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  animation: .2s fade ease-in-out;
}
.mobile-a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}
.flex-mobile{
text-align: center;
margin-top: -50px;
}
.socail-mobile{
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
}
.mobile-a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.mobile-a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header a{
  position: relative;
}

.header a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.at{
  margin-top: 3px;
  margin-bottom: 0px;
  margin-right: 100px;
  color: rgb(146, 146, 146);
  font-size: 18px;
}
.at span{
  padding-left: 5px;
  padding-right: 5px;
}
.showcase-container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 150px;
}
.item{
  width: 320px;
  height: 350px;
  margin: 25px;
  border-radius: 5px;
  overflow: hidden;
  background-color: transparent;
}
.milton{
  width: 100%;
  display: block;
  height: auto;
}
.text-m{
  font-size: 20px;
  margin-left: 26px;
  font-weight: 600;
  position: relative;
  top: 16px;
}
.text-m-2{
  font-size: 20px;
  margin-left: 100px;
  font-weight: 600;
  position: relative;
  top: 20px;
}
.text-m-4{
  font-size: 20px;
  margin-left: 135px;
  font-weight: 600;
  position: relative;
  top: 20px;
}
.text-m-5{
  font-size: 20px;
  margin-left: 115px;
  font-weight: 600;
  position: relative;
  top: 20px;
}
.text-m-3{
  font-size: 20px;
  margin-left: 10px;
  font-weight: 600;
  position: relative;
  top: 20px;
}
.div-text{
  position: relative;
  top: -65px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.199);
  backdrop-filter: blur(3px);
}
.div-text-2{
  position: relative;
  top: -78px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.199);
  backdrop-filter: blur(3px);
}
.item:hover{
  transform: scale(1.01);
  transition: .2s ease;
  cursor: pointer;
}
.so-btn:hover{
  transform: scale(1.01);
  transition: .2s ease;
  cursor: pointer;
  color: rgb(242, 247, 183);
}
.test-img{
  position: absolute;
  top: 0;
  z-index: 30;
  opacity: 45%;
  width: 800px;
  pointer-events: none;
}
@media screen and (max-width: 1080px) {
  .showcase-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .header a{
    display: none;
  }
  .at{
    margin-right: 40px;
  }
  .header{
    position: absolute;
    background-color: transparent;
  }
  .flex{
    margin-left: 0px;
    margin-right: 0px;
   text-align: center;
   width: 100%;
   background-color: transparent;
  }
  .socail{
    display: none;
  }
  .burger{
    display: block;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
  }
  .header{
    margin-right: 50px;
    margin-top: -5px;
  }
  .overlay{
    display: block;
  }
  .modal-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .welcome{
    margin-left: 20px;
    margin-right: 20px;
  }
  .desc{
    margin-left: 20px;
    margin-right: 20px;
    width: 85%;
  }
  .view{
    margin-left: 20px;
    margin-right: 20px;

  }
}

@keyframes fade {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes bounce-2 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-3.5px); }
  100% { transform: translateY(0); }
}